
</div> <!-- /.col-md-8 -->
</div> <!-- /.row -->
</div> <!-- /.container -->

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
  					<ul>
              <li>
                <a href="https://twitter.com/jagcesar" class="btn btn-social-icon btn-twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="http://www.github.com/jagcesar" class="btn btn-social-icon btn-github">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li class="last-item">
                <a href="http://www.linkedin.com/pub/césar-pinto-castillo/19/304/942" class="btn btn-social-icon btn-linkedin">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <!-- <li>
                <a href="http://dribbble.com/jagcesar" class="btn btn-social-icon btn-dribbble">
                  <i class="fa fa-dribbble"</i>
                </a>
              </li>-->
					  </ul>
      </div> <!-- /.col-md-8 -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</footer>
</body>
