{% include header.html %}
<article>
	<header>
		<h1>
			<a href="{{ post.url }}" rel="bookmark">{{ page.title }}</a>
		</h1>
		
		<div>
			<span>
				<time class="entry-date" datetime="{{ page.time }}">{{ page.date | date_to_long_string }}</time>
			</span>
<!--			<span class="categories-links">
				<a title="View all posts in {{ page.category }}" rel="category tag">{{ page.category }}</a>
			</span>
			<span class="tags-links">
				{% for tag in page.tags %}
				<a href="http://www.jagcesar.se/tag/{{ tag | slugize }}/" rel="tag">{{tag}}</a>,
				{% endfor %}
			</span>

			<span class="author vcard">
				<a class="url fn n" href="http://www.jagcesar.se/about/" title="View all posts by Cesar" rel="author">Cesar</a>
			</span>
-->
		</div><!-- .entry-meta -->
	</header><!-- .entry-header -->

	<div>
		{{content}}
	</div><!-- .entry-content -->
	
	<footer>
		
	</footer><!-- .entry-meta -->
</article><!-- #post -->
{% include footer.html %}
